.container {
    margin-left: auto;
    margin-right: auto;
    
    width: 1530px;
}

.container-header {
    padding-top: 55px;
}

.container-slim {
    margin-left: auto;
    margin-right: auto;
    
    width: 1430px;
}

.container-extra-slim {
    margin-left: auto;
    margin-right: auto;
    
    width: 1150px;
}